In [1]:
#Librerias
install.packages("corrplot")
install.packages("Hmisc")
install.packages("lmtest")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done
also installing the dependencies ‘png’, ‘jpeg’, ‘checkmate’, ‘survival’, ‘Formula’, ‘latticeExtra’, ‘acepack’, ‘gridExtra’, ‘htmlTable’, ‘viridis’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done
Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [1]:
library("corrplot")
library("lmtest")
library("Hmisc")

Warning message:
"package 'corrplot' was built under R version 4.0.2"
corrplot 0.84 loaded

Warning message:
"package 'lmtest' was built under R version 4.0.2"
Loading required package: zoo


Attaching package: 'zoo'


The following objects are masked from 'package:base':

    as.Date, as.Date.numeric


Warning message:
"package 'Hmisc' was built under R version 4.0.2"
Loading required package: lattice

Loading required package: survival

Loading required package: Formula

Loading required package: ggplot2


Attaching package: 'Hmisc'


The following objects are masked from 'package:base':

    format.pval, units

**Importamos los datos**

In [2]:
dataset <-read.csv(url("https://raw.githubusercontent.com/beckam015/Estadistica2/master/bank-additional-full-full.csv"))

In [3]:
head(dataset)

  age job       marital education   default housing loan contact   month
1 56  housemaid married basic.4y    no      no      no   telephone may
2 57  services  married high.school unknown no      no   telephone may
3 37  services  married high.school no      yes     no   telephone may
4 40  admin.    married basic.6y    no      no      no   telephone may
5 56  services  married high.school no      no      yes  telephone may
6 45  services  married basic.9y    unknown no      no   telephone may
  day_of_week ... campaign pdays previous poutcome    emp.var.rate
1 mon         ... 1        999   0        nonexistent 1.1
2 mon         ... 1        999   0        nonexistent 1.1
3 mon         ... 1        999   0        nonexistent 1.1
4 mon         ... 1        999   0        nonexistent 1.1
5 mon         ... 1        999   0        nonexistent 1.1
6 mon         ... 1        999   0        nonexistent 1.1
  cons.price.idx cons.conf.idx euribor3m nr.employed y
1 93.994         -36.4         4.857     5191        no
2 93.994         -36.4         4.857     5191        no
3 93.994         -36.4         4.857     5191        no
4 93.994         -36.4         4.857     5191        no
5 93.994         -36.4         4.857     5191        no
6 93.994         -36.4         4.857     5191        no

In [4]:
info<-data.frame(
  age=dataset$age,
  dur=dataset$duration,
  camp=dataset$campaign,
  pdays=dataset$pdays,
  evr=dataset$emp.var.rate,
  cpi=dataset$cons.price.idx,
  cci=dataset$cons.conf.idx,
  eur=dataset$euribor3m,
  emp=dataset$nr.employed,
  prev=dataset$previous
)

In [ ]:
plot(info)

**Correlacion**

In [5]:
rcorr(as.matrix(info))

        age   dur  camp pdays   evr   cpi   cci   eur   emp  prev
age    1.00  0.00  0.00 -0.03  0.00  0.00  0.13  0.01 -0.02  0.02
dur    0.00  1.00 -0.07 -0.05 -0.03  0.01 -0.01 -0.03 -0.04  0.02
camp   0.00 -0.07  1.00  0.05  0.15  0.13 -0.01  0.14  0.14 -0.08
pdays -0.03 -0.05  0.05  1.00  0.27  0.08 -0.09  0.30  0.37 -0.59
evr    0.00 -0.03  0.15  0.27  1.00  0.78  0.20  0.97  0.91 -0.42
cpi    0.00  0.01  0.13  0.08  0.78  1.00  0.06  0.69  0.52 -0.20
cci    0.13 -0.01 -0.01 -0.09  0.20  0.06  1.00  0.28  0.10 -0.05
eur    0.01 -0.03  0.14  0.30  0.97  0.69  0.28  1.00  0.95 -0.45
emp   -0.02 -0.04  0.14  0.37  0.91  0.52  0.10  0.95  1.00 -0.50
prev   0.02  0.02 -0.08 -0.59 -0.42 -0.20 -0.05 -0.45 -0.50  1.00

n= 41188


P
      age    dur    camp   pdays  evr    cpi    cci    eur    emp    prev
age          0.8605 0.3512 0.0000 0.9400 0.8620 0.0000 0.0289 0.0003 0.0000
dur   0.8605        0.0000 0.0000 0.0000 0.2810 0.0972 0.0000 0.0000 0.0000
camp  0.3512 0.0000        0.0000 0.0000 0.0000 0.0053 0.0000 0.0000 0.0000
pdays 0.0000 0.0000 0.0000        0.0000 0.0000 0.0000 0.0000 0.0000 0.0000
evr   0.9400 0.0000 0.0000 0.0000        0.0000 0.0000 0.0000 0.0000 0.0000
cpi   0.8620 0.2810 0.0000 0.0000 0.0000        0.0000 0.0000 0.0000 0.0000
cci   0.0000 0.0972 0.0053 0.0000 0.0000 0.0000        0.0000 0.0000 0.0000
eur   0.0289 0.0000 0.0000 0.0000 0.0000 0.0000 0.0000        0.0000 0.0000
emp   0.0003 0.0000 0.0000 0.0000 0.0000 0.0000 0.0000 0.0000        0.0000
prev  0.0000 0.0000 0.0000 0.0000 0.0000 0.0000 0.0000 0.0000 0.0000

**Definicion de modelos lineales**

In [6]:
lm_all_v <- lm(eur ~ . , data = info)
summary(lm_all_v)

Call:
lm(formula = eur ~ ., data = info)

Residuals:
     Min       1Q   Median       3Q      Max
-0.57888 -0.17510  0.00259  0.13971  1.04407

Coefficients:
              Estimate Std. Error  t value Pr(>|t|)
(Intercept) -9.220e+01  6.275e-01 -146.945  < 2e-16 ***
age          2.916e-04  1.032e-04    2.825  0.00472 **
dur          9.026e-06  4.129e-06    2.186  0.02881 *
camp        -6.600e-03  3.906e-04  -16.897  < 2e-16 ***
pdays        1.917e-05  7.243e-06    2.646  0.00814 **
evr          4.117e-01  3.331e-03  123.600  < 2e-16 ***
cpi          3.377e-01  4.325e-03   78.085  < 2e-16 ***
cci          5.398e-02  2.640e-04  204.500  < 2e-16 ***
emp          1.284e-02  5.370e-05  239.169  < 2e-16 ***
prev         3.716e-03  2.886e-03    1.288  0.19780
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.2162 on 41178 degrees of freedom
Multiple R-squared:  0.9845,	Adjusted R-squared:  0.9845
F-statistic: 2.898e+05 on 9 and 41178 DF,  p-value: < 2.2e-16

**Modelo lineal con variables elegidas gracias a la matriz de correlacion**

In [7]:
lm_some_v <- lm(eur ~ evr+cpi+cci+emp+prev, data = info)
summary(lm_some_v)

Call:
lm(formula = eur ~ evr + cpi + cci + emp + prev, data = info)

Residuals:
     Min       1Q   Median       3Q      Max
-0.55942 -0.17572  0.01432  0.14739  1.04944

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -9.190e+01  6.295e-01 -145.99   <2e-16 ***
evr          4.113e-01  3.343e-03  123.02   <2e-16 ***
cpi          3.354e-01  4.331e-03   77.44   <2e-16 ***
cci          5.410e-02  2.601e-04  207.96   <2e-16 ***
emp          1.283e-02  5.375e-05  238.68   <2e-16 ***
prev         5.770e-04  2.509e-03    0.23    0.818
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.217 on 41182 degrees of freedom
Multiple R-squared:  0.9843,	Adjusted R-squared:  0.9843
F-statistic: 5.178e+05 on 5 and 41182 DF,  p-value: < 2.2e-16

**Modelo lineal multiple con variables que segun la funcion stem son las optimas para usar**

In [8]:
step(lm_all_v)

Start:  AIC=-126138.4
eur ~ age + dur + camp + pdays + evr + cpi + cci + emp + prev

        Df Sum of Sq    RSS     AIC
- prev   1      0.08 1925.5 -126139
<none>               1925.4 -126138
- dur    1      0.22 1925.7 -126136
- pdays  1      0.33 1925.8 -126133
- age    1      0.37 1925.8 -126132
- camp   1     13.35 1938.8 -125856
- cpi    1    285.10 2210.5 -120453
- evr    1    714.34 2639.8 -113144
- cci    1   1955.47 3880.9  -97271
- emp    1   2674.71 4600.2  -90268

Step:  AIC=-126138.7
eur ~ age + dur + camp + pdays + evr + cpi + cci + emp

        Df Sum of Sq    RSS     AIC
<none>               1925.5 -126139
- dur    1      0.22 1925.7 -126136
- pdays  1      0.25 1925.8 -126135
- age    1      0.38 1925.9 -126133
- camp   1     13.38 1938.9 -125855
- cpi    1    285.15 2210.7 -120453
- evr    1    716.71 2642.2 -113108
- cci    1   1971.31 3896.8  -97105
- emp    1   2742.41 4667.9  -89668

Call:
lm(formula = eur ~ age + dur + camp + pdays + evr + cpi + cci +
    emp, data = info)

Coefficients:
(Intercept)          age          dur         camp        pdays          evr
 -9.212e+01    2.935e-04    8.900e-06   -6.608e-03    1.451e-05    4.119e-01
        cpi          cci          emp
  3.375e-01    5.395e-02    1.283e-02

In [9]:
lm_opti_v <- lm(eur ~ age + dur + camp + pdays + evr + cpi + cci + emp, data = info)
summary(lm_opti_v)

Call:
lm(formula = eur ~ age + dur + camp + pdays + evr + cpi + cci +
    emp, data = info)

Residuals:
     Min       1Q   Median       3Q      Max
-0.57783 -0.17512  0.00253  0.13950  1.04399

Coefficients:
              Estimate Std. Error  t value Pr(>|t|)
(Intercept) -9.212e+01  6.243e-01 -147.564  < 2e-16 ***
age          2.935e-04  1.032e-04    2.845  0.00445 **
dur          8.900e-06  4.127e-06    2.156  0.03107 *
camp        -6.608e-03  3.906e-04  -16.918  < 2e-16 ***
pdays        1.451e-05  6.277e-06    2.312  0.02077 *
evr          4.119e-01  3.327e-03  123.804  < 2e-16 ***
cpi          3.375e-01  4.322e-03   78.091  < 2e-16 ***
cci          5.395e-02  2.627e-04  205.324  < 2e-16 ***
emp          1.283e-02  5.298e-05  242.175  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.2162 on 41179 degrees of freedom
Multiple R-squared:  0.9845,	Adjusted R-squared:  0.9845
F-statistic: 3.261e+05 on 8 and 41179 DF,  p-value: < 2.2e-16

**Comparaciones de los modelos**

In [17]:
#Modelo 1 VS Modelo 2
AIC(lm_all_v, lm_some_v,lm_opti_v)

          df AIC
lm_all_v  11 -9249.906
lm_some_v  7 -8948.444
lm_opti_v 10 -9250.247

In [18]:
#Modelo 1 VS Modelo 2
BIC(lm_all_v, lm_some_v,lm_opti_v)

          df BIC
lm_all_v  11 -9155.021
lm_some_v  7 -8888.063
lm_opti_v 10 -9163.988

In [13]:
#Modelo 1 VS Modelo 3
AIC(lm_all_v, lm_opti_v)

          df AIC
lm_all_v  11 -9249.906
lm_opti_v 10 -9250.247

In [14]:
#Modelo 1 VS Modelo 3
BIC(lm_all_v, lm_opti_v)

          df BIC
lm_all_v  11 -9155.021
lm_opti_v 10 -9163.988

In [ ]:
par(mfrow = c(2,2))
plot(lm_all_v)
par(mfrow= c(1,1))

In [ ]:
par(mfrow = c(2,2))
plot(lm_some_v)
par(mfrow= c(1,1))

In [ ]:
par(mfrow = c(2,2))
plot(lm_opti_v)
par(mfrow= c(1,1))